@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");

* {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
}

button {
  padding: 0.6rem 2rem;
  border-radius: 0.75rem;
  border: none;
  background-color: #0070f3;
  color: white;
  letter-spacing: 0.05rem;
  margin: 1rem;
  box-shadow: 0 0 10px 0 #0071f39c;
  transition: 200ms ease;
}
button:hover {
  background-color: #0071f3ec;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.controller {
  display: flex;
  flex-direction: column;
}

.size {
  display: flex;
  margin-top: 1rem;
}

input[type="range"] {
}
